/*====BASE STYLES====*/
* {
  box-sizing:border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F3F5;
  
}

/*====HEADER STYLES====*/

header .title {
  width: 100vw;
  height: 10vh;
  background-color: #6200EA;
  display: table;
}

header h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.125rem;
  padding: .9rem;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.logo {
  margin-right: 1rem;
}


/*====COMPONENTS====*/

/*Sub-button*/
.sub {
  display: table-cell;
  vertical-align: middle;
}

#sub-button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #6200EA;
  font-size: .6rem;
  font-weight: 700;
  line-height: 1.42857143;
  letter-spacing: 0.115rem;
  text-align: center;
  padding: 10px 18px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25px;
  white-space: nowrap;
  vertical-align: middle;
  margin-left: 1rem;
}

/*Top Navigation*/

nav ul {
  background-color: #ffffff;
  text-align: center;
}

nav li {
  font-size: 1.2rem;
  line-height: 3rem;
  height: 3rem;
  border-bottom: 2px solid #B2ACBA;
}

nav a {
  text-decoration: none;
  color: #6200EA;
  font-variant: small-caps;
  font-weight: 600;
  display: block;
}

nav a:hover {
  background-color: #6200EA;
  color: #ffffff;
  transition: background-color .3s ease-in-out;
  transform: scale(1.13);
}