/*====BASE STYLES====*/

* {
  box-sizing:border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F3F5;  
}

main {
  width: 100vw;
  margin-top: 2rem;
}

aside {
  width: 100vw;
  margin-top: 3rem;
}

section {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: #ffffff;
  border-radius: 15px;
}

footer {
  background-color: #211138;
  width: 100vw;
  height: 4rem;
  display: table;
  padding: .6rem;
  text-align: center;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}


/*Single-direction margin declaration*/

main, header, section, main .article, main .short-article, section ul
.data-text, h2, p, h3, .view-all {
  margin-bottom: 1rem;
}



/*====HEADER STYLES====*/

header .title {
  width: 100vw;
  height: 10vh;
  background-color: #6200EA;
  display: table;
}

header h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.125rem;
  padding: .9rem;
  text-align: center;;
  display: table-cell;
  vertical-align: middle;
}

header h1 .hero-text {
   margin-right: 1rem;
}



/*====ARTICLE STYLES====*/

.article {
  width: 90%;
  margin: 0 auto;
  display: table;
  border-radius: 10px;
  padding: 2rem;
  background-color: #ffffff;
}

.data-text, .view-all {
  color: #B2ACBA;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.125rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.post {
  font-size: 1.2rem;
  line-height: 1.3;
}


/* Featured Article */

#featured-post {
  background-image: url(assets/roberto-nickson-5ui0tfMC5ts-unsplash.jpg);
  background-size: cover;
  color: #ffffff;
}


/* Article With Image */

.article-with-img {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.below-img-wrapper {
  padding: 2rem;
}


/* Small Articles */

.short-article {
  width: 77%;
  display: table;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 auto;
}

h3, h4, li, footer {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #6200EA;
  letter-spacing: 0.125rem;
}

.short-post {
  font-size: 0.8rem;
  line-height: 1.3;
}



/*====ASIDE, SECTION STYLES====*/


/* Aside section titles */

.tagline {
  width: 100%;
  height: 8vh;
  background-color: #6200EA;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: table;
}

h4 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
}


/* List of categories */

section ul {
  color: #211138;
  margin-bottom: 3rem;
}

section li {
  line-height: 3rem;
  height: 3rem;
  padding: .7rem;
  text-align: center;
}



/*====IMAGES====*/

.small-rec {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 10px;
  float: left;
  margin-right: 1rem;
  display: block;
  object-fit: cover;
}

.article-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}



/*=====CLEARFIX====*/

.small-rec::after {
  content: "";
  clear: both;
  display: block;
}


/*====COMPONENTS====*/

/*Sub-button*/

.sub {
  display: table-cell;
  vertical-align: middle;
}

#sub-button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #6200EA;
  font-size: .6rem;
  font-weight: 700;
  line-height: 1.42857143;
  letter-spacing: 0.115rem;
  text-align: center;
  padding: 10px 18px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25px;
  white-space: nowrap;
  vertical-align: middle;
  margin-left: 1rem;
}


/*Read More button*/

.read-more {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #6200EA;
  font-size: .8rem;
  font-weight: 900;
  line-height: 1.42857143;
  letter-spacing: 0.115rem;
  text-align: center;
  padding: .5rem 1rem;
  border: 2px solid #6200EA;
  border-radius: 25px;
  white-space: nowrap;
  vertical-align: middle;
}

#featured-button {
  border: 2px solid #ffffff;
  color: #ffffff;
}


/* View all link */

.view-all {
  display: block;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-decoration: none;
  
}

.view-all:hover {
  transform: scale(1.4);
}


/* Category link */

.category {
  text-decoration: none;
  color: #211138;
}

/*Top Navigation*/

nav ul {
  background-color: #ffffff;
  text-align: center;
}

nav li {
  font-size: 1.2rem;
  line-height: 3rem;
  height: 3rem;
  border-bottom: 2px solid #B2ACBA;
}

nav a {
  text-decoration: none;
  color: #211138;
  font-variant: small-caps;
  font-weight: 600;
  display: block;
}

nav a:hover {
  background-color: #6200EA;
  color: #ffffff;
  transition: background-color .3s ease-in-out;
  transform: scale(1.13);
}

nav a .active {
  background-color: #ffffff;
  border-bottom: 2px solid #6200EA;
}

/* Footer styles */

footer {
  color: #ffffff;
  font-size: .6rem;
  font-weight: 500;
  letter-spacing: .3rem;
  line-height: .9rem;
}

/* Footer link styles */

.brand, .student {
  text-decoration: none;
  font-weight: 600;
  color: #6200EA;
}



/*====MEDIA QUERIES====*/

/* Header styles */

@media (min-width: 1200px) {
  h1 {
    position: relative;
    right: 20%;
  }
  .sub {
    position: relative;
    left: 17%;
  }
}


/* Navigation styles */

@media (min-width: 1200px) {
  nav {
    font-size: 0;
    display: table;
    width: 100vw;
  }
  nav ul {
    display: table-cell;
    height: 7vh;
    vertical-align: middle;
  }
  nav li {
    display: inline-block;
    border-bottom: none;
    width: 8.5rem;
    font-size: .9rem;
  }
}


/* Layout styles */

@media (min-width: 1200px) {
  main {
    width: 60%;
    float: left;
  }
  
  aside {
    width: 25%;
    float: left;
    margin-top: 0.5rem;
  }
  section li {
    text-align: left;
    padding-left: 1.5rem;
  }
}


/* Article styles*/

@media (min-width: 1200px) {
  .article, .article-with-img {
    width: 70%;
    float: right;
  }
  .left, .right {
    width: 34%;  
  }
  .right {
    float: right;
    margin-right: 1.5rem;
  }
  .left {
    float: right;
  }
  aside .short-article {
    width: 100%;
  }
}

/* Footer styles */
@media (min-width: 1200px) {
  footer {
    font-size: .7rem;
  }
}
